# To integrate with Neon / Postgres, you need to configure the connection string here:
# (Add these variables in Settings > Environment Variables in AI Studio)

POSTGRES_URL=postgresql://neondb_owner:YOUR_PASSWORD@ep-aged-...aws.neon.tech/neondb?channel_binding=require&sslmode=require
POSTGRES_URL_NON_POOLING=postgresql://neondb_owner:YOUR_PASSWORD@ep-aged-...aws.neon.tech/neondb?channel_binding=require&sslmode=require
POSTGRES_USER=neondb_owner
POSTGRES_HOST=ep-aged-...aws.neon.tech
POSTGRES_PASSWORD=YOUR_PASSWORD
POSTGRES_DATABASE=neondb
